body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
	margin: 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}


h1{
	font-size: 36px;
    font-weight: 500;
    line-height: 39.6px;
	margin: 20px 0px 10px;
}
.container{
    margin: 0 auto;
	width: 1170px;
}
.table {
    width: 100%;
    margin-bottom: 20px;
	border: 1px solid #ddd;
    border-collapse: collapse;
	font-size: 14px;
	padding: 8px;
    line-height: 1.42857143;
}
tr:nth-of-type(odd) {
    background-color: #f9f9f9;
	border: 1px solid #ddd;	
}	
.x{
	text-align: left;
}
th,tr,td{
	padding: 8px;
	border: 1px solid #ddd;
}
.y{
	color: #737987;
}
.z{
	text-align: right;
	float: right;
}
.c{
	text-align: left;
}
.continue{
	background-color: #438ac8;
    color: #fff;
	text-decoration: none;
	display: inline-block;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.check{
	float: right;
	color: #fff;
	text-decoration: none;
    background-color: #5ac05d;
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.t{
	color: #3399cc;
	text-decoration: none;
}
.t:hover{
	text-decoration: underline;
}
tr:hover{
    background-color: #f5f5f5;
}
.continue:active{
	color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
.check:active{
	color: #fff;
    background-color: #398439;
    border-color: #255625;
}
@media (max-width: 767px) and (min-width: 481px) {
	h1
}














